@page "/Day"
@inherits DayBase

<h3>Day</h3>

@if(!State?.Value?.DayWills?.Any() ?? true)
{
    <p>Pas de day wills</p>
}
else
{
    


    <MudItem xs="12" md="6">
        <MudText Typo="Typo.h6" GutterBottom="true">Icons with text</MudText>
        <MudPaper Width="100%">
            <MudList Clickable="true">
                @if (@State?.Value?.DayWills != null)
                {
                    foreach (var dayWill in @State.Value.DayWills)
                    {
                        <MudListItem IconColor="@Color.Primary" Text="@dayWill.Will.Name" Icon="Icons.Filled.Done"/>
                    }
                }

                @* <MudListItem Text="Single List Item" Icon="@Icons.Filled.Bookmark" IconColor="Color.Primary"/> *@
                @* <MudListItem Text="Single List Item" Icon="@Icons.Filled.Bookmark" IconColor="Color.Secondary"/> *@
            </MudList>
        </MudPaper>
    </MudItem>
    
}